# 1. Repozytoria systemowe i Docker
url --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=fedora-44&arch=x86_64
repo --name=update --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=updates-released-f44&arch=x86_64
# Dodajemy oficjalne repozytorium Dockera
repo --name=docker-ce --baseurl=https://download.docker.com/linux/fedora/44/x86_64/stable/

# 2. Ustawienia regionalne i sieciowe
keyboard --vckeymap=pl --xlayouts='pl'
lang pl_PL.UTF-8
network --bootproto=dhcp --device=link --hostname=kanye-counter-host --activate

# 3. Instalacja oprogramowania 
%packages
@core
docker-ce
docker-ce-cli
containerd.io
curl
%end

# 4. Partycjonowanie
clearpart --all --initlabel
autopart
ignoredisk --only-use=sda
firstboot --enable

timezone Europe/Warsaw --utc

# 5. Hasło i restart
rootpw --plaintext toor
reboot

%post --log=/root/ks-post.log
# Przekierowanie wyjścia na konsolę, aby było widać postępy na ekranie
exec < /dev/console > /dev/console

echo "------------------------------------------------------"
echo " KONFIGURACJA POST-INSTALL: INSTALACJA KANYE-COUNTER "
echo "------------------------------------------------------"

# Włączenie Dockera
echo ">>> Aktywacja usługi Docker..."
systemctl enable docker

# Tworzenie usługi dla kontenera
echo ">>> Tworzenie usługi systemd dla aplikacji..."
cat <<EOF > /etc/systemd/system/kanye-app.service
[Unit]
Description=Kanye Counter Container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop kanye-app
ExecStartPre=-/usr/bin/docker rm kanye-app
ExecStartPre=/usr/bin/docker pull jpadlo/kanye-counter
ExecStart=/usr/bin/docker run --name kanye-app -p 3000:3000 jpadlo/kanye-counter

[Install]
WantedBy=multi-user.target
EOF

echo ">>> Aktywacja usługi aplikacji..."
systemctl enable kanye-app.service

echo "------------------------------------------------------"
echo " INSTALACJA ZAKONCZONA. RESTART ZA 5 SEKUND... "
echo "------------------------------------------------------"
sleep 5
%end