# Repozytoria
url --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=fedora-44&arch=x86_64
repo --name=update --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=updates-released-f44&arch=x86_64

# Klawiatura i język
keyboard --vckeymap=pl --xlayouts='pl'
lang pl_PL.UTF-8

# Sieć i Hostname
network --bootproto=dhcp --device=link --hostname=lodziarka --activate

# Pakiety
%packages
@core
%end

firstboot --enable
ignoredisk --only-use=sda
autopart

# Partycjonowanie
clearpart --all --initlabel

# Strefa czasowa
timezone Europe/Warsaw --utc

# Hasło roota
rootpw --plaintext toor
reboot