set default="0"
set timeout=1

function load_video {
  insmod efi_gop
  insmod efi_uga
  insmod video_bochs
  insmod video_cirrus
  insmod all_video
}

load_video
set gfxpayload=keep
insmod gzio
insmod part_gpt
insmod ext2

search --no-floppy --set=root -l 'Fedora-S-dvd-x86_64-44'

menuentry 'Install Fedora 44 (Automated)' --class fedora --class gnu-linux --class gnu --class os {
    linuxefi /images/pxeboot/vmlinuz inst.stage2=hd:LABEL=Fedora-S-dvd-x86_64-44 inst.ks=hd:LABEL=OEMDRV:/ks.cfg quiet
    initrdefi /images/pxeboot/initrd.img
}

menuentry 'Test this media & install Fedora 44' --class fedora --class gnu-linux --class gnu --class os {
    linuxefi /images/pxeboot/vmlinuz inst.stage2=hd:LABEL=Fedora-S-dvd-x86_64-44 rd.live.check quiet
    initrdefi /images/pxeboot/initrd.img
}
