url --mirrorlist=https://mirrors.fedoraproject.org/mirrorlist?repo=fedora-$releasever&arch=x86_64
repo --name=updates --mirrorlist=https://mirrors.fedoraproject.org/mirrorlist?repo=updates-released-f$releasever&arch=x86_64

text

keyboard --vckeymap=pl --xlayouts=pl

lang pl_PL.UTF-8

network --bootproto=dhcp --device=link --hostname=fedora-automation --activate

rootpw --plaintext DS419547

user --name=DS419547 --password=DS419547 --plaintext --groups=wheel

timezone Europe/Warsaw --utc

cmdline

skipx

clearpart --all --initlabel

autopart

selinux --enforcing

firewall --enabled --service=ssh

firstboot --disabled

%packages
@core
moby-engine
docker-compose
curl
git
tar
%end

%post --log=/dev/console
echo "Starting post-install..."

systemctl enable docker

cat <<EOF > /usr/local/bin/start-app.sh
#!/bin/bash
sleep 10
docker pull razeee/nestjs-app-ds419547:latest
docker run -d --name nestjs-app -p 3000:3000 razeee/nestjs-app-ds419547:latest
EOF

chmod +x /usr/local/bin/start-app.sh

cat <<EOF > /etc/systemd/system/nestjs-app.service
[Unit]
Description=Run NestJS App Container
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/start-app.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
EOF

systemctl enable nestjs-app.service

echo "Post-install finished."
%end

reboot
