### LOCALE ###
# Keyboard layouts
keyboard --vckeymap=pl --xlayouts='pl'
# System language
lang pl_PL.UTF-8
# System timezone
timezone Europe/Warsaw --utc

### OS SOURCES ###
# Network installation path
url --url="https://download.fedoraproject.org/pub/fedora/linux/releases/44/Everything/x86_64/os/"

### PACKAGES ###
%packages
# This indicates minimal environment
@^custom-environment
# ...also guest agents for various hypervisors,
# including our beloved QEMU. This will improve
# performance and memory allocation.
@guest-agents
# Initial Setup for initial user configuration
initial-setup
# Docker for integrating images
docker-cli
containerd
%end

### BOOT CONFIG ###
cmdline
# Run the Setup Agent on first boot
firstboot --reconfig
# Do not configure the X Window System
skipx

### DISK CONFIG ###
# Force using VDA disk
ignoredisk --only-use=vda
# ...and partition it automatically
autopart
# Partition clearing information
clearpart --all --initlabel

### USERS ###
# Root password
rootpw --lock
# Default user
# NOTE: Unless --password is given, this
# will create a locked account. Hence for
# more production-ready env I decided to
# use initial-setup package and interactive
# post-installation configuration.
# user --groups=wheel --name=pacman

### SERVICES ###
services --enabled=docker

### NETWORK ###
network --hostname fedora-pacman

### POST-CONFIGURATION HOOKS ###
%post --interpreter=/usr/bin/sh
# Mount virtiofs volume, implies proper config
# at VM configuration side...
mount -t virtiofs containers /mnt
# ...and copy all compressed images to /usr/local
# (srry fedorians, I am Arch user there, so I use
# Arch paths for installing stuff :P)
install -dm755 /usr/local/share/docker-images-extra
install -Dm644 -t /usr/local/share/docker-images-extra/ "$img" /mnt/*.tar.gz
# Finally, unmount.
umount /mnt
# Note that with this config I assume images will be
# imported manually – instructions tell `docker` cannot
# really be used at this point, so this is the best
# I can do without doing weird systemd services that are
# really useless after the first boot (and self-removable
# services are something uncommon in systemd world and
# give me the nasty feeling of "playing with fire" at this
# point). I really am a fan of KISS solutions, as a principle of
# Arch Linux operating systems, therefore I'd love to leave it
# as-it-is at this point.
#
# Also since the software is interactive, it cannot be "launched"
# on boot, I mean I explained my docker image is to be used for
# manual or scripted administrative purposes, the best I can do
# is show version which isn't really that much useful.
#
# Still, to follow the exercise, I add this "mechanism" that has
# no real purpose IMHO. It is there, so my work is satifactionary.
# In reality, I would consider working on first-install scripts
# that at best should not utilise "hand-written" systemd services
# that are not being "properly" integrated as software into system.

cat > /usr/local/bin/load-and-run-docker.sh << 'EOF'
#!/bin/sh
set -e
for f in /usr/local/share/docker-images-extra/*.tar.gz; do
    gunzip -c "$f" | docker load
done
docker run --rm my-pacman:7.1.0-b34 -V
EOF

chmod +x /usr/local/bin/load-and-run-docker.sh

cat > /etc/systemd/system/my-pacman-launch.service << 'EOF'
[Unit]
Description=Dumb app launch with no real purpose
After=docker.service
Wants=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/load-and-run-docker.sh
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
EOF

systemctl enable my-pacman-launch.service

%end

# Auto reboot after install
reboot
