cdrom

url --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=fedora-40&arch=x86_64
repo --name=update --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=updates-released-f40&arch=x86_64

keyboard --vckeymap=pl --xlayouts='pl'
lang pl_PL.UTF-8

network --bootproto=dhcp --device=link --activate
network --hostname=fedora-lab9-kinsu

authselect enable-feature with-fingerprint
firstboot --disable
rootpw --iscrypted --allow-ssh $y$j9T$1XhBBevmhxolXtcNnmIFXVHL$3GTzmiTZvxQECbbnPnyGxGbn2DuunipE88KF4TIZ.d5
user --groups=wheel --name=kinsu --password=$y$j9T$n5adQibD4gBZcPsWKVJER3Ps$1ZFozM4yt5vL4AQCkDSlLlw8La8k4IHci.x0/bypzEB --iscrypted --gecos="kinsu"

clearpart --all --initlabel
autopart

timezone Europe/Warsaw --utc

reboot

%packages
@^server-product-environment
nodejs
wget
tar
%end

%post --log=/root/post-install.log
#zakres rozszerzony
exec < /dev/tty3 > /dev/tty3
chvt 3
echo ">>> POBIERANIE I INSTALACJA ARTEFAKTU Z PIPELINE <<<"

mkdir -p /opt/pipeline_apka
cd /opt/pipeline_apka

wget http://192.168.56.1:8080/url-parse-1.5.10.tgz -O url-parse-1.5.10.tgz
tar -xzf url-parse-1.5.10.tgz

echo ">>> INSTALACJA ZALEZNOSCI NPM <<<"
cd package
npm install
npm install url-parse

cat << 'EOF' > /usr/local/bin/start-moj-program.sh
#!/bin/bash
echo "Uruchamianie aplikacji z artefaktu"
cd /opt/pipeline_apka/package
node -e "const parse = require('url-parse'); console.log('Modul url-parse dziala! Pathname:', parse('http://google.com/test').pathname); setInterval(() => {}, 10000);"
EOF

chmod +x /usr/local/bin/start-moj-program.sh

cat << 'EOF' > /etc/systemd/system/pipeline-app.service
[Unit]
Description=Automatyczny start paczki z labow
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/start-moj-program.sh
Restart=always

[Install]
WantedBy=multi-user.target
EOF

systemctl enable pipeline-app.service

echo ">>> ZAKONCZONO KONFIGURACJE. RESTART SYSTEMU <<<"
sleep 5
chvt 1
%end