# Fedora 44 (Docker + Kalkulator)
text
reboot

# Repozytoria
url --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=fedora-44&arch=x86_64
repo --name=updates --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=updates-released-f44&arch=x86_64

# Hostname
network --bootproto=dhcp --device=link --hostname=fedora-kalkulator --activate

# Język i klawiatura
keyboard --vckeymap=pl --xlayouts='pl'
lang pl_PL.UTF-8

# Pakiety
%packages
@core
docker
curl
%end

firstboot --enable

# Czyszczenie dysku
zerombr
ignoredisk --only-use=sda
clearpart --all --initlabel
autopart

# Czas i haslo
timezone Europe/Warsaw --utc
rootpw --iscrypted --allow-ssh $y$j9T$p/sagmQXbDVI5lPznKqu.X4x$phnfZt631J/Q6FoUwCnyz0gPz/CxJoj4E8zZc/c5ijA

# Sekcja %post
%post --log=/root/ks-post.log

# Wlaczamy usluge Docker
systemctl enable docker

cat <<EOF > /usr/local/bin/deploy-app.sh
#!/bin/bash
# Czekamy na pelna gotowosc sieci i Dockera
sleep 15
#Usuniecie kontenera (jakby byl)
docker rm -f my-kalkulator || true
# Pobranie kontenera z pipeline'u (Docker Hub)
docker pull doretor/kalkulator:latest
# Uruchomienie aplikacji
docker run -d --name my-kalkulator -p 80:3000 doretor/kalkulator:latest node server.js
EOF

chmod +x /usr/local/bin/deploy-app.sh

# Tworzymy jednostke systemd, aby skrypt uruchomił się automatycznie po boocie
cat <<EOF > /etc/systemd/system/app-autostart.service
[Unit]
Description=Uruchomienie kalkulatora po instalacji
After=docker.service network-online.target
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/deploy-app.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
EOF

# Aktywujemy usluge autostartu
systemctl enable app-autostart.service

%end
