# Fedora 44 (Docker + Node Hello World)
text
reboot

# Repozytoria
url --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=fedora-44&arch=x86_64
repo --name=updates --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=updates-released-f44&arch=x86_64

# Hostname
network --bootproto=dhcp --device=link --hostname=fedora-node --activate

# Język i klawiatura
keyboard --vckeymap=pl --xlayouts='pl'
lang pl_PL.UTF-8

# Pakiety
%packages
@core
docker
curl
%end

firstboot --disable

# Dysk
zerombr
ignoredisk --only-use=sda
clearpart --all --initlabel
autopart

# Czas i hasło
timezone Europe/Warsaw --utc
rootpw --plaintext root

# POST
%post --log=/root/ks-post.log

# Włącz Docker
systemctl enable docker

# Skrypt deploy
cat <<EOF > /usr/local/bin/deploy-app.sh
#!/bin/bash

sleep 15

docker rm -f hello-node || true

docker run -d \
  --name hello-node \
  -p 8080:3000 \
  node:18-alpine \
  sh -c "echo 'const http = require(\"http\"); http.createServer((req,res)=>res.end(\"Hello from Node\" )).listen(3000);' > app.js && node app.js"
EOF

chmod +x /usr/local/bin/deploy-app.sh

# Systemd service
cat <<EOF > /etc/systemd/system/app-autostart.service
[Unit]
Description=Start Node App
After=docker.service network-online.target
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/deploy-app.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
EOF

systemctl enable app-autostart.service

%end