# --- PODSTAWOWA KONFIGURACJA ---
lang pl_PL.UTF-8
keyboard pl
timezone Europe/Warsaw
text
reboot

# --- REPOZYTORIA (Fedora 44 aarch64) ---
url --mirrorlist=https://mirrors.fedoraproject.org/mirrorlist?repo=fedora-44&arch=aarch64
repo --name=updates --mirrorlist=https://mirrors.fedoraproject.org/mirrorlist?repo=updates-released-f44&arch=aarch64

# --- KONTO ROOT I UŻYTKOWNIK ---
rootpw --plaintext root123

# --- KONFIGURACJA DYSKU (Wymóg: clearpart --all) ---
clearpart --all --initlabel
autopart --type=plain

# --- KONFIGURACJA SIECI (Wymóg: inny hostname) ---
network --bootproto=dhcp --device=link --activate --hostname=fedora-auto

# --- PAKIETY (Wymóg: Docker) ---
%packages
@core
moby-engine
docker-compose
nano
wget
%end

# --- SKRYPT POINSTALACYJNY (Wymóg: uruchomienie kontenera po restarcie) ---
%post --log=/root/ks-post.log
systemctl enable docker

cat <<EOF > /etc/systemd/system/uruchom-aplikacje.service
[Unit]
Description=Uruchomienie kontenera Node.js
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStartPre=-/usr/bin/docker rm -f moja_aplikacja
ExecStart=/usr/bin/docker run -d --name moja_aplikacja -p 80:80 nginx:alpine
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
EOF

systemctl enable uruchom-aplikacje.service
%end
