text
reboot
keyboard pl
lang pl_PL.UTF-8
timezone Europe/Warsaw --utc

url --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=fedora-$releasever&arch=$basearch
repo --name=updates --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=updates-released-f$releasever&arch=$basearch
repo --name=docker-ce-stable --baseurl=https://download.docker.com/linux/fedora/40/x86_64/stable

network --bootproto=dhcp --device=link --hostname=ite-server-PW420474 --activate

ignoredisk --only-use=sda
clearpart --all --initlabel
autopart --type=lvm

rootpw --plaintext student123
user --name=student --groups=wheel --password=student123 --plaintext

%packages
@core
curl
wget
git
docker-ce
docker-ce-cli
containerd.io
%end

%post --log=/root/ks-post-install.log
exec < /dev/tty3 > /dev/tty3

systemctl enable docker

cat <<EOF > /usr/local/bin/build-app.sh
#!/bin/bash
until docker info >/dev/null 2>&1; do sleep 2; done
curl -L https://raw.githubusercontent.com/InzynieriaOprogramowaniaAGH/MDO2026_ITE/PW420474_L4/ITE/6/PW420474/Dockerfile.build -o /root/Dockerfile.build
cd /root
git clone -b PW420474_L4 https://github.com/InzynieriaOprogramowaniaAGH/MDO2026_ITE.git
cd MDO2026_ITE/ITE/6/PW420474/
docker build -t ite-app -f Dockerfile.build .
docker run -d --name ite-app-container -p 8080:8080 ite-app
EOF

chmod +x /usr/local/bin/build-app.sh

cat <<EOF > /etc/systemd/system/ite-setup.service
[Unit]
Description=Abralang
After=docker.service network-online.target
Requires=docker.service network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/build-app.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
EOF

systemctl enable ite-setup.service
%end
