keyboard --vckeymap=us --xlayouts='us'
lang en_US.UTF-8

network --bootproto=dhcp --hostname=fedora-ks423521

firstboot --disable

ignoredisk --only-use=sda

clearpart --all --initlabel
autopart

timezone Europe/Warsaw --utc

reboot

url --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=fedora-44&arch=x86_64

repo --name=updates --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=updates-released-f44&arch=x86_64

rootpw root
user --groups=wheel --name=kacper --password=123

%packages
@core
docker
wget
git
%end

%post --log=/root/ks-post.log

exec > /dev/tty3 2>&1

echo "Start konfiguracji post-install"

echo "Wlaczanie Docker"
systemctl enable docker

echo "Pobieranie obrazu Docker"
wget http://192.168.0.234:8000/markdown-it-1.0.7.tar -O /opt/markdown-it.tar

echo "Tworzenie skryptu startowego"

cat > /usr/local/bin/start-markdown.sh << 'EOF'
#!/bin/bash

docker load -i /opt/markdown-it.tar

docker rm -f markdown-app || true

docker run -d \
  --name markdown-app \
  --restart=always \
  markdown-it:1.0.7
EOF

chmod +x /usr/local/bin/start-markdown.sh

echo "Tworzenie uslugi systemd"

cat > /etc/systemd/system/markdown.service << 'EOF'
[Unit]
Description=Markdown Container
After=docker.service network-online.target
Requires=docker.service

[Service]
ExecStart=/usr/local/bin/start-markdown.sh
Restart=on-failure
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
EOF

echo "Wlaczanie uslugi"

systemctl enable markdown.service

echo "Konfiguracja zakonczona"

%end