text
reboot
eula --agreed

#jezyk,czas, klawiatura
keyboard --vckeymap=pl --xlayouts='pl'
lang pl_PL.UTF-8
timezone Europe/Warsaw --isUtc

#siec
network --bootproto=dhcp --device=link --hostname=cjson-server.agh.local --activate

#repozytoria
url --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=fedora-40&arch=x86_64
repo --name=update --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=updates-released-f40&arch=x86_64

#uzytkownicy
rootpw student
user --name=devops --password=student --groups=wheel

#dyski
zerombr
clearpart --all --initlabel
autopart

#pakiety
%packages
@core
docker
wget
tar
%end

# po instalacji(skrypt i logi)
%post --log=/root/ks-post.log
#!/bin/bash

systemctl enable docker

cat << 'EOF' > /etc/systemd/system/cjson-deploy.service
[Unit]
Description=Pobranie i wdrożenie artefaktu cJSON
After=docker.service network-online.target
Requires=docker.service network-online.target

[Service]
Type=oneshot
ExecStartPre=/usr/bin/wget -O /tmp/cJSON.tar.gz https://github.com/DaveGamble/cJSON/archive/refs/tags/v1.7.18.tar.gz
ExecStart=/usr/bin/docker run --rm -v /tmp/cJSON.tar.gz:/app.tar.gz alpine sh -c "echo 'Wdrożenie nienadzorowane udane!' && ls -l /app.tar.gz"
ExecStartPost=/usr/bin/systemctl disable cjson-deploy.service

[Install]
WantedBy=multi-user.target
EOF

systemctl enable cjson-deploy.service
%end