#version=DEVEL

#instalacja tekstowa 
text

eula --agreed

cdrom

#lokalizacja
keyboard --xlayouts='pl'
lang pl_PL.UTF-8
timezone Europe/Warsaw --utc

#siec
network --bootproto=dhcp --device=enp0s3 --onboot=on --ipv6=auto
network --hostname=szymon-devops-host

#dyski
clearpart --all --initlabel
#automatyczne partycjonowanie
autopart
ignoredisk --only-use=sda

#bootloader
bootloader --append="rhgb quiet" --location=mbr

#security
selinux --disabled
firewall --disabled

#hasla
rootpw --plaintext root123
user --groups=wheel --name=szymon --password=szymon123 --plaintext --gecos="Szymon Makowski"

#pakiety
%packages
#minimalne srodowisko serwerowe
@^server-product-environment
#narzedzia sieciowe
curl
wget
%end

#po instalacji
%post --log=/root/ks-post.log

echo "=== START SEKCJI POST ==="

dnf install -y dnf-plugins-core
dnf config-manager addrepo --from-repofile=https://download.docker.com/linux/fedora/docker-ce.repo
dnf install -y docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin

systemctl enable docker
usermod -aG docker szymon

cat > /etc/systemd/system/express-app.service << 'EOF'
[Unit]
Description=Express App Container
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=-/usr/bin/docker stop express-app
ExecStartPre=-/usr/bin/docker rm express-app
ExecStartPre=-/usr/bin/docker pull szymonmakow/express-app:latest
ExecStart=/usr/bin/docker run -d \
    --name express-app \
    -p 3000:3000 \
    szymonmakow/express-app:latest
ExecStop=/usr/bin/docker stop express-app

[Install]
WantedBy=multi-user.target
EOF

systemctl enable express-app.service

echo "=== KONIEC SEKCJI POST ==="

%end

reboot