#version=FEDORA_VERSION
authselect --enableshadow --passalgo=sha512
cdrom
graphical
firstboot --enable
keyboard pl
lang pl_PL.UTF-8

network --bootproto=dhcp --hostname=fedora-server --activate

rootpw fedora123

timezone Europe/Warsaw --utc

bootloader --append="crashkernel=auto" --location=mbr --boot-drive=sda

clearpart --all --initlabel

autopart

reboot

%packages
@^server-product-environment
@standard
%end

%post
dnf -y install dnf-plugins-core
dnf config-manager addrepo --from-repofile=https://download.docker.com/linux/fedora/docker-ce.repo
dnf -y install docker-ce docker-ce-cli containerd.io
systemctl enable docker
%end
